.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

.btn {
    background-color: green;
    color: #fff;
    padding: 12px;
    margin: 8px 0;
}

.number {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
